.contactsContainer {
    display: grid;
    grid-template-rows: 10% 20% 75%;
    overflow-y: auto;
    background-color: #110a36;
    max-height: 100%;
    max-width: 100%;
  }
  
  /* Brand Header */
  .contactsContainer .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .contactsContainer .brand img {
    height: 3rem;
  }
  
  .contactsContainer .brand h3 {
    color: white;
    text-transform: uppercase;
  }
  
  /* Current User Section */
  .contactsContainer .currentUser {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contactsContainer .currentUser .username {
    display: flex;
    align-items: center;
  }
  
  .contactsContainer .currentUser .username h3 {
    color: white;
    text-transform: uppercase;
    margin: 0;
  }
  
  .contactsContainer .currentUser img {
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    margin-top: 0.5rem;
  }
  
  /* Contacts List */
  .contactsContainer .contacts {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    overflow-y: auto;
  }
  
  .contactsContainer .contacts .contact {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: hsla(0, 40%, 96%, 0.738);
    border-radius: 10px;
    max-height: 5rem;
    width: 90%;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .contactsContainer .contacts .contact .avatar img {
    height: 4rem;
  }
  
  .contactsContainer .contacts .contact .username {
    padding-top: 0.5rem;
    color: #000;
  }
  
  /* Selected contact */
  .contactsContainer .contacts .contact.selected {
    background-color: #9186f3;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 700px) {
    .contactsContainer .contacts .contact {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.3rem;
      max-height: 4rem;
    }
  
    .contactsContainer .contacts .contact .avatar img {
      display: none;
    }
  
    .contactsContainer .currentUser .username h3 {
      font-size: 1rem;
      margin-left: 0;
      text-align: center;
    }
  
    .contactsContainer .currentUser img {
      margin-left: 0;
    }
  }
  